/*   Custom CSS   */
.header-style {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.main-div {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.img-style1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 10px #000000;
    padding: 0;
    margin: 0;
}

/* Bootstrap navbar styling */
.navbar-col {
    background-color: rgba(0, 0, 0, 1);
}

.navbar-button-style {
    border: 0;
}

.navbar-button-style:active {
    outline: none;
}

/* Sets active page in header. Overrides Bootstrap default */
.active {
    font-weight: bold !important;
}

/* Styling for info divs o each page */
.row-col1 {
    background-color: rgba(254, 117, 4, 0.15);
    border-radius: 10px;
}

.row-col2 {
    border: 2px solid rgba(254, 117, 4, 0.15);
    border-radius: 10px;
}

.row-col3 {
    background-color: rgba(69, 212, 69, 0.15);
    border-radius: 10px;
}

.row-col4 {
    border: 2px solid rgba(69, 212, 69, 0.15);
    border-radius: 10px;
}

.row-col5 {
    background-color: rgba(0, 145, 255, 0.15);
    border-radius: 10px;
}

.row-col6 {
    border: 2px solid rgba(0, 145, 255, 0.15);
    border-radius: 10px;
}

.row-col9 {
    background-color: rgba(246, 255, 0, 0.15);
    border-radius: 10px;
}

.row-col10 {
    border: 2px solid rgba(246, 255, 0, 0.15);
    border-radius: 10px;
}

/* Footer styling */
footer {
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    min-height: 12rem;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}

/* adjusts Bootstrap navbar hamburger style */
.navbar-toggler {
    border: 0;
}

.navbar-toggler:active {
    border: 0;
}

/* animations for info divs on all pages */
.move {
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

.move1 {
    animation-name: move1;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move1 {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}
