/*   Custom CSS   */
.header-style {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.main-div {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.img-style1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 10px #000000;
    padding: 0;
    margin: 0;
}

/* Bootstrap navbar styling */
.navbar-col {
    background-color: rgba(0, 0, 0, 1);
}

.navbar-button-style {
    border: 0;
}

.navbar-button-style:active {
    outline: none;
}

#navbar-uot-icon {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px #ffffff;
    margin-right: 1rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.unique-font {
    font-family: "Caveat", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.nav-a-style {
    color: rgb(255, 255, 255)!important;
}

/* Sets active page in header. Overrides Bootstrap default */
.active {
    font-weight: bold !important;
}

/* Styling for info divs on each page */
.row-col1 {
    background-color: rgba(254, 117, 4, 0.15);
    border-radius: 10px;
}

.row-col2 {
    border: 2px solid rgba(254, 117, 4, 0.15);
    border-radius: 10px;
}

.row-col3 {
    background-color: rgba(69, 212, 69, 0.15);
    border-radius: 10px;
}

.row-col4 {
    border: 2px solid rgba(69, 212, 69, 0.15);
    border-radius: 10px;
}

.row-col5 {
    background-color: rgba(0, 145, 255, 0.15);
    border-radius: 10px;
}

.row-col6 {
    border: 2px solid rgba(0, 145, 255, 0.15);
    border-radius: 10px;
}

.row-col9 {
    background-color: rgba(246, 255, 0, 0.15);
    border-radius: 10px;
}

.row-col10 {
    border: 2px solid rgba(246, 255, 0, 0.15);
    border-radius: 10px;
}

.row-col11 {
    background-color: rgba(255, 0, 0, 0.15);
    border-radius: 10px;
}

.row-col12 {
    border: 2px solid rgba(255, 0, 0, 0.15);
    border-radius: 10px;
}

.attr-style {
    color: rgb(3, 13, 163);
}

/* Google Maps link and image style */
#map {
    width: 100%;
    height: 450px;
}

/* Footer styling */
footer {
    background-color: rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
    min-height: 12rem;
    margin-top: auto;
}

.footer-btn-style {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    text-decoration-line: none;
}

.footer-text-div-col {
    background-color: rgba(195, 11, 11, 0.95);
}

/* Adjusts Bootstrap navbar hamburger style */
.navbar-toggler {
    border: 0;
}

.navbar-toggler:active {
    border: 0;
}

/* form style */
#submit-button-style {
    background-color: green;
    color: white;
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#submit-button-style:hover {
    background-color: rgb(34, 246, 34);
    color: rgb(0, 0, 0);
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#form {
    width: 100%;
    padding: 2.5rem;
    border-radius: 10px;
    background-color: rgba(246, 255, 0, 0.15);
}

.modal-title {
    color: black;
}

.modal-body {
    color: black;
}

/* CSS to align SVG icons and accompanying text */
.icon,
.text {
    text-align: start;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.img-size {
    width: 100%;
    height: 100dvh;
    background-image: url("./img/website-first-page-no-text.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}